.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 0;
  color: var(--color-white);
  background-color: rgba(51, 51, 51, 1);
  z-index: 10;
}

.header-opacity {
  background-color: rgba(51, 51, 51, 0.9);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--basic-gap);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: var(--basic-gap);
}

.header-nav-item {
  padding: 0.5rem;
  color: currentColor;
}

.header-logo:hover,
.header-nav-item:hover,
.header-icon:hover {
  opacity: var(--basic-opacity);
  text-decoration: none;
}

.header-logo,
.header-icon {
  cursor: pointer;
  font-size: 1.25rem;
}
