@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Fonts */
  --font-family-default: "Ubuntu Mono", monospace;
  --font-size-default: 16px;
  /* Main Colors */
  --color-primary: #333333;
  --color-accent: #0071e3;
  --color-secondary: #b64400;
  /* Different colors */
  --color-white: #ffffff;
  --color-grey: #999999;
  --color-light-grey: #f9f9f9;
  --color-none: rgba(0, 0, 0, 0);
  /* Other */
  --basic-opacity: 0.75;
  --basic-gap: 1rem;
  --basic-radius: 1rem;
  --basic-width-content: 1200px;
}

/* Main styles for App */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: 400;
  color: var(--color-primary);
}

/* Basic styles for text elements */

h1 {
  font-size: 3rem;
}

h2,
h3 {
  font-size: 2rem;
}

h2,
h4,
h6 {
  text-transform: uppercase;
}

h4,
h5 {
  font-size: 1.5rem;
}

h3,
h5 {
  text-transform: lowercase;
}

h3::before,
h5::before {
  content: "#";
  color: var(--color-accent);
}

h6 {
  font-size: 1.25rem;
}

/* Basic styles for interactive elements */

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
textarea {
  display: block;
  resize: none;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-default);
  border: 1px solid var(--color-primary);
  border-radius: calc(var(--basic-radius) / 2);
  font-family: var(--font-family-default);
  background-color: var(--color-white);
}

input:hover,
textarea:hover {
  border-color: var(--color-accent);
}

input:focus,
textarea:focus {
  outline-color: var(--color-accent);
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--color-primary);
  border-radius: calc(var(--basic-radius) / 2);
  color: var(--color-primary);
  background-color: var(--color-white);
}

button:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

a,
input,
textarea,
button {
  transition: all 0.3s ease-in-out;
}
/* Basic styles for containers */

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container {
  max-width: var(--basic-width-content);
  width: 100%;
  margin: 0 auto;
}

main {
  margin: 2rem 0;
}

section,
form,
aside,
article {
  margin: 1rem 0;
}

header,
footer,
nav {
  padding: 1rem 0;
}
